<div>
  <img
    src="../assets/"
    alt="LCO logo"
    width="100"
    style="text-align: center"
    class="logo"
  />
  <h1>LCO Todo List</h1>
</div>
<div class="container">
  Add a todo...
  <br />
  <input
    class="input__text"
    placeholder="Type a todo"
    type="text"
    name=""
    id=""
    (keyup.enter)="addItem()"
    [(ngModel)]="todoValue"
  />
  <button class="btn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" id="" [(ngModel)]="item.isDone" />
        {{ item.value }}
        <button class="btn btn__delete" (click)="deleteItem(item.id)">
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
